html, body {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 20px;
  flex-shrink: 0;
}

.container2 {
  display: flex;
  flex-basis: 100%
}

.row {
  flex: 1;
}

.box {
  border: 1px solid black;
  height: 24px;
  width: auto;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  flex: 1;
  
}

/* i need the boxes to fit in a square and resize to the squares size
some javascript shenanigans.
