html, body {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 20px;
  align-content: flex-start;
  
 
}

.container div {
  border: 1px solid black;
  height: 24px;
  width: 24px;
  aspect-ratio: 1/1;
  padding: 0;
  
  flex: 1 0 auto;
  box-sizing: border-box;
}

/* i need the boxes to fit in a square and resize to the squares size
some javascript shenanigans.
